register rel="credits" with IANA

So [there is a registry of link relation types](https://www.iana.org/assignments/link-relations/link-relations.xhtml).

Registering one requires reading [Section 2.1.1 of RFC 8288](https://tools.ietf.org/html/rfc8288#section-2.1.1) and contacting the maintainers. Should be fairly straightforward albeit require slightly more attention than available at the time of this writing.

[Okay I have a draft](https://github.com/creditstxt/registry/blob/master/link-relations.xml#L113), short and sweet.

LGTM

mkay, shipping it